@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --body: 210 29% 97%;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    /* --asidebar: 240 17% 98%; */
    --asidebar: 240 10% 7%;
    --asidebar-foreground: 240 5% 64.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 218 99% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --body: 240 10% 3.9%;

    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    /* --asidebar: 240 10% 7%; */
    --asidebar: 240 10% 3.9%;
    --asidebar-foreground: 240 5% 64.9%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }

  .storefront {
    --body: 240 6% 10%;

    --background: 240 6% 10%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;

    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 221 83% 53%;
    --primary-foreground: 0 0%, 100%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }

  /* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --first-color: #e3f8ff;
    --second-color: #dcfafb;
    --third-color: #ffe8df;
    --accent-color: #ff5151;
    --dark-color: #161616;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  } */
  @font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url('/fonts/ClashDisplay-Extralight.woff2') format('woff2'),
      url('/fonts/ClashDisplay-Extralight.woff') format('woff'),
      url('/fonts/ClashDisplay-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Light';
    src: url('/fonts/ClashDisplay-Light.woff2') format('woff2'),
      url('/fonts/ClashDisplay-Light.woff') format('woff'),
      url('/fonts/ClashDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2'),
      url('/fonts/ClashDisplay-Regular.woff') format('woff'),
      url('/fonts/ClashDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('/fonts/ClashDisplay-Medium.woff2') format('woff2'),
      url('/fonts/ClashDisplay-Medium.woff') format('woff'),
      url('/fonts/ClashDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
      url('/fonts/ClashDisplay-Semibold.woff') format('woff'),
      url('/fonts/ClashDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('/fonts/ClashDisplay-Bold.woff2') format('woff2'),
      url('/fonts/ClashDisplay-Bold.woff') format('woff'),
      url('/fonts/ClashDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
}

::-webkit-scrollbar {
  display: none;
}
/* body {
  font-family: 'ClashDisplay-regular', sans-serif;
} */
body {
  font-family: 'Open Sans', sans-serif;
}
/* body {
  font-family: 'Work sans', sans-serif;
} */
/* AirbnbStyleCarousel.css */
.navigation-wrapper {
  position: relative;
}

.keen-slider {
  position: relative;
}

.keen-slider__slide {
  width: 100%;
  height: auto;
}

.dots {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot.active {
  background: #333;
}
